$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);


body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
  margin: 50px;
}


#search-bar {
  margin-bottom: 20px;

  input {
    font-size: 1.5em;
    border-radius: .25em;
  }
}

#videos {
  display: flex;
  flex-direction: row;
}

#video-detail {
  padding-top: 10px;
  min-width: 500px;

  .title {
    font-size: 24px;
    padding-top: 10px;
  }

  .description {
  }
}


#video-list{
  display: flex;

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    width: 25vw;
    width: 360px;
    padding: 10px;

    #preview-img {
      width: 160px;
      height: 90px;
    }

    #title {
      width: 200px;
    }
  }
  li:hover {
    background: darken( $backgroundcolor, 10% );
  }

  #title {
    padding-left: 10px
  }

}
